{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'simple_upload' %}">Simple Upload</a>
    </li>
  </ul>
<form action="https://www.google.co.in/maps/search/ngo/@12.9539226,77.6309387,11z/data=!3m1!4b1">
    <input type="NearbyNgo" value="Go to Google" />
</form>' %}
    
  

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
{% endblock %}